@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou:regular");

body {
    display: flex;
    background-color: #fffedd;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.h1 {
    font-family: "Molle";
    font-size: 24px;
    color: #5f4735;
    text-shadow:  2px 2px #cc6b49, 4px 4px 8px #3b3333;
}

.outline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 350px;
    border-radius: 1em;
    background-color: #73bda8;
    box-shadow: 4px 4px 8px #3b3333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 450px;
    width: 300px;
    border-radius: 1em;
    background-color: #ecebc2;
}

.display {
    background-color: #929275;
    height: 100px;
    width: 285px;
    border-radius: 1em;
    margin: auto;
    box-shadow: -1px -1px 0px #3b3333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.calc-input {
    text-align: right;
    border: none;
    background: none;
    font-size: 48px;
    color:#3b3b2b;
    font-family: "ZCOOL QingKe HuangYou";
}

.bottom-calc {
    display: flex;
}

.erase {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 10px;
}

.clear, .backspace {
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 0.5em;
    font-size: 20px;
    background-color: #cc6b49;
    color: #fff;
}


.numbers {
    display: flex;
    gap: 20px;
    align-content: space-around;
    justify-content: center;
    padding-bottom: 8px;
    flex-wrap: wrap;
}

.number-button, .float, .decimal, .operator-button {
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px;
    height: 50px;
    width: 50px;
    background-color: #5f4735;
    color: #fff;
}

.operators {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    justify-content: space-evenly;
}

.operator-button {
    background-color: #D2a24c;
    color: #fff;
}

.emoji {
    text-align: center;
    text-shadow: 1px 1px #3b3333;
    font-size: 35px;
    border-radius: 50%;
    border: 2px solid #5f4735;
    height: 48px;
    width: 48px;
    background-color:#D2a24c;
    color: #fff;
}

.footer {
    font-family: "ZCOOL QingKe HuangYou";
    font-size: 18px;
    margin-top: auto;
    color:#5f4735;
    text-shadow: 4px 4px 8px #cc6b49;
}